# # # # # # # # # # # # # # # #
# Removes all values here ofc!
# # # # # # # # # # # # # # # #
NODE_ENV=development

NODE_CLIENT_HOST=localhost
NODE_CLIENT_PORT=8080

NODE_SERVER_HOST=localhost
NODE_SERVER_PORT=4000

GRAPHQL_ENDPOINT=http://localhost:4000/graphql

JWT_SECRET=&pOUEt$pOUEt$lA$gAlEttE!

DB_HOST=backend.mariadb
DB_DATABASE=df_technical_test
DB_USER=user_rw
DB_PASSWORD=1!dzM77%k
DB_PORT=3306
DB_DIALECT=mariadb

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=a4f34bbb556c97
MAIL_PASSWORD=e55e682d80fa43
MAIL_FROM=no-reply@df-technical-test.com